<!-- <link rel="stylesheet" href="/assets/css/main.css" />  -->

<footer class="p-2 footer">
    <div class="md:flex md:justify-between">
        <div class="footer">

            <img src="/assets/img/footer.jpg" alt="">
            </a>
        </div>
    </div>
    </div>
    <div class="lg:flex text-dark3 sm:items-center sm:justify-between bg-red-700 text-center">
        <span class="text-sm text-dark2 sm:text-center dark:text-white-200 text-center">© 2022 <a href="https://flowbite.com/"
                class="text-dark  hover:underline">jagonews24</a>. All Rights Reserved.
        </span>
    </div>
</footer>