<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learning</title>
  <link rel="shortcut icon" href="/assets/img/3.png" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script>
    $.notify("BOOM!", "error");
  </script>
</head>

<body class="bg-gray-700">
  <div class="container mx-auto">
    <div class="w-full bg-white p-8">
    <!-- Header -->
    <div class="w-full bg-red-700"><%- include('header'); -%></div>
    <!-- Header -->
    <!-- Main -->

      <% if(errors){ errors.forEach(function(error){ %>
        <div class="w-full text-center mb-4">
          <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
            role="alert">
            <span class="font-medium">
              <%= error.msg %>
            </span>
          </div>
        </div>
        <% }); }; %>

          <div class="flex justify-center items-center content-center">
            <div class="w-7/12 bg-gray-100 registerForm rounded-md p-12">
              <form action="/users/register" method="post">
                <div class="mb-6">
                  <div>
                    <label for="name" class="block mb-2 text-sm font-medium rfil0">Full
                      Name</label>
                    <input type="text" id="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Full Name" required="" name="name" />
                  </div>
                </div>
                <div class="mb-6">
                  <div>
                    <label for="Username" class="block mb-2 text-sm font-medium rfil">Username</label>
                    <input type="text" id="username"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Username" required="" name="username" />
                  </div>
                </div>
                <div class="mb-6">
                  <label for="email" class="block mb-2 text-sm font-medium rfil">Email
                    address</label>
                  <input type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="john.doe@company.com" required="" name="email" />
                </div>
                <div class="mb-6">
                  <label for="password" class="block mb-2 text-sm font-medium rfil">Password</label>
                  <input type="password" id="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="•••••••••" required="" name="password" />
                </div>
                <div class="mb-6">
                  <label for="password" class="block mb-2 text-sm font-medium rfil">Confirm
                    Password</label>
                  <input type="password" id="password2"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="•••••••••" required="" name="password2" />
                </div>
                <button type="submit" name="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Register
                </button>

                <div class="mt-2 mb-4">
                  You have an account is already registered. Please
                  <a href="/login"
                    class=" text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">login</a>
                  now!
                </div>
              </form>
            </div>
          </div>
    </div>
    <!-- Main -->

    <!-- footer -->
    <div class="w-full rfooterback bg-red-700"><%- include('footer'); -%></div>
    <!-- footer -->
  </div>

  <script src="./assets/js/flowbite.js"></script>
</body>

</html>